# Environment variables for ClickUp weekly report
LOCATION="europe-west3"
PROJECT_ID="crfe-sbox-int"
REPOSITORY="clickup"
IMAGE_NAME="clickup-weekly-report"
JOB_NAME="clickup-weekly-report-job"

WORKSPACE_ID="2634247"
FOLDER_ID="90121162200"
USER_ID="my-user-id"
DOC_ID="my-doc-id"
PARENT_PAGE_ID="my-parent-page-id"
LOOKBACK_DAYS="7"
PAGE_PREFIX="CW"
